@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

header {
  /* background: hsl(50, 50%, 90%);*/
  background: transparent;
}

main {
  display: flex;
  padding: 0;
  flex-direction: column;
  height: calc(100vh - 60px);
  gap: 10px;
  background: hsl(50, 50%, 90%);
  /* height: 100dvh; */
}

sour-editor {
  flex: 1;
  background: white;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
  font-family: "Fira Code", monospace;
}

#output {
  flex: 1;
  margin: 0;
  border: none;
  box-shadow: 0 0 5px lightgray;
}
